<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="text-theme-primary">{{formStatus}} Posts</h3>
            <p class="mb-5">You can add your new posts here</p>
        </div>
    </div>
    <div *ngIf="postForm"> 
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-7">
                <div class="card shadow-effect">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Title</label>
                            <input name="title" type="text" class="form-control" (keyup)="onTitleChanged($event)" formControlName="title" [ngClass]="{'is-invalid':formControl['title'].touched && formControl['title'].invalid}" minlength="15">
                            <div *ngIf="formControl['title'].errors?.['required']">
                                <div class="alert alert-danger" *ngIf="formControl['title'].touched && formControl['title'].invalid">Title is required</div>
                            </div>
                            <div *ngIf="formControl['title'].errors?.['minlength']">
                                <div class="alert alert-danger" *ngIf="formControl['title'].touched && formControl['title'].invalid">Title length must be 15 words.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Permalink</label>
                            <input name="permalink" type="text" class="form-control" [(ngModel)]="permalink" name="permalink" formControlName="permalink" [ngClass]="{'is-invalid': formControl['permalink'].touched && formControl['permalink'].invalid}">

                            <div *ngIf="formControl['permalink'].errors?.['required']">
                                <div class="alert alert-danger" *ngIf="formControl['permalink'].touched && formControl['permalink'].invalid">Permalink is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Excerpt</label>
                            <textarea name="excerpt" cols="30" rows="10" class="form-control" formControlName="excerpt" [ngClass]="{'is-invalid':formControl['excerpt'].touched && formControl['excerpt'].invalid}"></textarea>
                            <div *ngIf="formControl['excerpt'].errors?.['required']">
                                <div class="alert alert-danger" *ngIf="formControl['excerpt'].touched && formControl['excerpt'].invalid" >Excerpt is required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="">Please select a post category</label>
                    <select class="form-control" formControlName="category" [ngClass]="{'is-invalid':formControl['category'].touched && formControl['category'].invalid}">
                        <option value="" disabled selected >Please select a category</option>
                        <option *ngFor="let category of categoryArray" value="{{category.id}},{{category.data.category}}">{{ category.data.category }}</option>
                    </select>
                    <div *ngIf="formControl['category'].errors?.['required']">
                        <div class="alert alert-danger" *ngIf="formControl['category'].touched && formControl['category'].invalid">Category is required</div>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label for="">Post Image</label>
                    <img [src]="imgSrc" class="form-control img-fluid img-preview">
                    <input type="file" class="form-control mt-3" accept="image/*" (change)="showPreview($event)" formControlName="postImg" [ngClass]="{'is-invalid':formControl['postImg'].touched && formControl['postImg'].invalid}">
                </div>
                <div *ngIf="formControl['postImg'].errors?.['required']">
                    <div class="alert alert-danger" *ngIf="formControl['postImg'].touched && formControl['postImg'].invalid">Image is reuired.</div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col-md-12">
                <div class="card shadow-effect">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="" >Content</label>
                            <angular-editor placeholder="Add your content here." formControlName="content"></angular-editor>
                            <div *ngIf="formControl['content'].errors?.['required']">
                                <div class="alert alert-danger" *ngIf="formControl['content'].touched && formControl['content'].invalid" [ngClass]="{'is-invalid':formControl['content'].touched && formControl['content'].invalid}">Content is required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12-text-center-mb-5">
            <button class="btn btn-info btn-theme" [disabled]="postForm.invalid">{{formStatus}} Post</button>
            <button class="btn btn-warning ml-3 mx-3" routerLink="/posts">Back to Post</button>
        </div>
    </form>
</div>
</div>
